#layout{
    -fx-alignment: top-center;
    -fx-spacing: 20px;
    -fx-font-size: 20px;

    -fx-background-image: url("stoneTexture.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#topScreen{
    -fx-min-width: 600px;
    -fx-alignment: center;
    -fx-border-width: 7px;
    -fx-border-color: black;
    -fx-spacing: 400px;
}

#title{
    -fx-min-width: 300px;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-tile-alignment: center-left;
    -fx-row-valignment: center;
    -fx-column-halignment: left;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

#returnButton{
    -fx-min-width: 60px;
    -fx-padding: 10px;
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-alignment: center;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}


#returnButton:hover{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}


#centerScreen{
    -fx-alignment: center;
    -fx-spacing: 20px;
}

#armyContainer{
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-max-height: 100px;
    -fx-min-height: 100px;
    -fx-min-width: 250px;
    -fx-max-width: 250px;
}

#middleColumn{
    -fx-alignment: center;
    -fx-spacing: 100px;
    -fx-min-height: 500px;
    -fx-max-height: 500px;
}

#terrainButtonsBox{
    -fx-spacing: 5px;
    -fx-alignment: center;
}

#hillButton{
    -fx-background-color: #685928;
}

#plainsButton{
    -fx-background-color: #efe09d;
    -fx-text-fill: black;
}


#forestButton{
    -fx-background-color: #1e4735;
}


#hillButton:hover{
    -fx-cursor: hand;
    -fx-background-color: blue;
    -fx-text-fill: white;
}


#plainsButton:hover{
    -fx-cursor: hand;
    -fx-background-color: blue;
    -fx-text-fill: white;
}


#forestButton:hover{
    -fx-cursor: hand;
    -fx-background-color: blue;
    -fx-text-fill: white;
}

#hillButton:focused{
    -fx-background-color: blue;
    -fx-text-fill: white;
}

#plainsButton:focused{
    -fx-background-color: blue;
    -fx-text-fill: white;
}

#forestButton:focused{
    -fx-background-color: blue;
    -fx-text-fill: white;
}

#selectedButton{
    -fx-background-color: blue;
    -fx-text-fill: white;
}

#armySelectedBox{
    -fx-alignment: center;
    -fx-min-width: 123px;
    -fx-max-width: 123px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-text-fill: white;

    -fx-background-image: url("wood.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#armySelectedBox .button{
    -fx-font-size: 9px;
}

#terrainTypeLabel{
    -fx-font-weight: bold;
}

#battleButton{
    -fx-font-size: 27px;
    -fx-background-color: red;
    -fx-border-color: black;
    -fx-border-width: 7px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#battleButton:hover{
    -fx-background-color: blue;
    -fx-cursor: hand;
}

.text-field{
    -fx-min-width: 180px;
    -fx-max-width: 180px;
}

.label{
    -fx-text-fill: white;
}

.list-view{
    -fx-min-width: 180px;
    -fx-max-width: 180px;

    -fx-background-image: url("wood.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

    -fx-border-color: black;
    -fx-border-width: 8px;

    -fx-font-size: 13px;
}

.list-cell:even{
    -fx-background-color: rgba(192,0,0,0.1);
    -fx-text-fill: white;
    -fx-border-width: 3px;
    -fx-border-color: black;
}

.list-cell:odd{
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-text-fill: white;
    -fx-border-width: 3px;
    -fx-border-color: black;
}

.list-cell:hover{
    -fx-background-color: blue;
    -fx-cursor: hand;
}

.list-cell:selected{
    -fx-background-color: blue;
}

.pane{
    -fx-min-width: 123px;
    -fx-max-width: 123px;
    -fx-border-width: 1px;
    -fx-border-color: black;

    -fx-background-image: url("wood.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.button:hover{
    -fx-cursor: hand;
    -fx-background-color: blue;
    -fx-text-fill: white;
}

.terrainButtons{
    -fx-border-radius: 50px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-radius: 50px;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-min-width: 70px;
}
