#layout{
    -fx-alignment: top-center;
    -fx-spacing: 60px;
    -fx-font-size: 20px;

    -fx-background-image: url("stoneTexture.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#topScreen{
    -fx-min-width: 600px;
    -fx-alignment: center;
    -fx-border-width: 7px;
    -fx-border-color: black;
    -fx-spacing: 400px;
}



#centerScreen{
    -fx-spacing: 30px;
    -fx-alignment: center;
}

#leftCenterScreen{
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-spacing: 20px;
    -fx-padding: 10px;
    -fx-border-width: 7px;
    -fx-border-color: black;
}

.table-view{
    -fx-alignment: bottom-center;
    -fx-min-width: 450px;
    -fx-max-width: 450px;
    -fx-border-color: black;
    -fx-border-width: 7px;

    -fx-font-size: 15px;
}

.list-view{

    -fx-min-width: 160px;
    -fx-min-height: 200px;

    -fx-background-image: url("wood.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

    -fx-border-color: black;
    -fx-border-width: 8px;

    -fx-font-size: 13px;
}

.list-cell:even{
    -fx-background-color: rgba(192,0,0,0.1);
    -fx-text-fill: white;
    -fx-border-width: 3px;
    -fx-border-color: black;
}

.list-cell:odd{
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-text-fill: white;
    -fx-border-width: 3px;
    -fx-border-color: black;
}

.list-cell:hover{
    -fx-background-color: blue;
    -fx-cursor: hand;
}

.list-cell:selected{
    -fx-background-color: blue;
}

#title{
    -fx-min-width: 300px;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-tile-alignment: center-left;
    -fx-row-valignment: center;
    -fx-column-halignment: left;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

#returnButton{
    -fx-min-width: 60px;
    -fx-padding: 10px;
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-alignment: center;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

#bottomScreen{
    -fx-alignment: center;
    -fx-spacing: 10px;
}

#createArmyButton{
    -fx-font-size: 30px;
    -fx-background-color: green;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#editArmyButton{
    -fx-font-size: 30px;
    -fx-background-color: red;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#returnButton:hover{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#createArmyButton:hover{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#editArmyButton:hover{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#createArmyPopupLayout{
    -fx-font-size: 12px;

    -fx-background-image: url("stoneTexture.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#createArmyPopupLayout .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#createArmyPopupLayout .popupRow{
    -fx-background-image: url("wood.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 600 100;
    -fx-border-width: 4px;
    -fx-border-color: black;
    -fx-padding: 3px;
}

#createArmyPopupLayout .text-field{
    -fx-min-width: 100px;
    -fx-max-width: 100px;
}

#createArmyPopupLayout #spinner{
    -fx-min-width: 100px;
    -fx-max-width: 100px;
}

#createArmyPopupLayout .button:hover{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}