
#layout{
    -fx-alignment: center-left;
    -fx-spacing: 80px;
    -fx-font-size: 40px;
    -fx-padding: 50px;
    /*
    -fx-background-image: url("sparta.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1400 800;
    -fx-background-position: left center;
     */
}

#armyButtons{
    -fx-alignment: center-left;
    -fx-spacing: 20px;
    -fx-font-size: 24px;
}

#backgroundImagePane{
    -fx-min-width: 1920px;
    -fx-min-height: 1080px;
}

#title{
    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, orange 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 5;
    -fx-text-alignment: center;
}

#titleBox{
    -fx-alignment: center;
    -fx-spacing: -20px;
}

#titleMiddle{
    -fx-fill: red;
    -fx-font-size: 30px;
}

.button{
    -fx-min-width: 230px;
    -fx-border-width: 5px;
    -fx-border-color: black;
}

.button:hover{
    -fx-cursor: hand;
    -fx-background-color: blue;
    -fx-text-fill: white;
}