#layout{
    -fx-alignment: top-center;
    -fx-spacing: 30px;
    -fx-font-size: 20px;

}

#topScreen{
    -fx-min-width: 600px;
    -fx-alignment: center;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-spacing: 400px;
}

#title{
    -fx-min-width: 300px;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-tile-alignment: center-left;
    -fx-row-valignment: center;
    -fx-column-halignment: left;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

#returnButton{
    -fx-min-width: 60px;
    -fx-padding: 10px;
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-alignment: center;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}


#returnButton:hover{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#centerScreen{
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-border-color: black;
    -fx-border-width: 3px;

    -fx-background-image: url("battlefield.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#betweenTopCenterRow{
    -fx-alignment: center;
    -fx-spacing: 120px;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

#bottomScreen{
    -fx-spacing: 50px;
    -fx-alignment: center;
    -fx-min-height: 100px;
}

#battleMessage{
    -fx-font-size: 12px;
    -fx-min-width: 200px;
    -fx-text-alignment: left;
}

#winnerLabel{
    -fx-min-width: 200px;
    -fx-text-alignment: center;
}

#terrainLabel{
    -fx-min-width: 200px;
}

#speedUpButtons{
    -fx-alignment: center-right;
    -fx-spacing: 2px;
    -fx-padding: 5px;
}

#bottomMiddle{
    -fx-alignment: center;
    -fx-spacing: 5px;
}

#bottomMiddle .label{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: darkgreen;
}

#bottomMiddle .button{
    -fx-font-size: 15px;
}

.label{
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

.button:hover{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.pane{
    -fx-min-height: 400px;
    -fx-max-height: 400px;
    -fx-min-width: 350px;
    -fx-max-width: 350px;
}

.speedUpButton:focused{
    -fx-background-color: blue;
    -fx-text-fill: white;
}