
#layout{
    -fx-alignment: center;
    -fx-spacing: 50px;
    -fx-background-image: url("war.png");
    -fx-background-repeat: no-repeat;
    /*-fx-background-size: 800 800;*/
    -fx-background-position: center center;
}

#title{
    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, orange 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 5;
    -fx-text-alignment: center;
}

#titleBox{
    -fx-alignment: center;
    -fx-spacing: -20px;
}

#titleMiddle{
    -fx-fill: red;
    -fx-font-size: 30px;
}

.button{
    -fx-font-size: 25px;
    -fx-min-width: 150px;
}

.button:hover{
    -fx-cursor: hand;
    -fx-background-color: blue;
    -fx-text-fill: white;
}